<html>
<head>
    <title>Kirino - wifi_sl_gen application</title>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/ripples.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-material-design.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/template.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div id="blurr">
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Kirino</a>
            </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                      <li><a href="/admin/memorandums/">Memorandums</a></li>
                      </ul>
                </div>
        </div>
    </div>

    <a style="text-align:center;display: block;" href="/admin/checkMemorandum/add/{{ .MemorandumId }}">Add memorandum</a>

    <table class="table table-striped table-hover ">
      <thead>
      <tr>
        <th>Mac</th>
        <th>User mane</th>
        <th>Phone number</th>
        <th>Accepted</th>
      </tr>
      </thead>
      <tbody>
      {{ range .Clients}}
      <tr>
        <td>{{ .MacAddr }}</td>
        <td>{{ .UserName }}</td>
        <td>{{ .PhoneNumber }}</td>
        <td>{{ .Accepted }}</td>
      </tr>
      {{ end }}
      </tbody>
    </table>

</div>
<div id="black-block"></div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/ripples.min.js"></script>
<script src="/static/js/material.min.js"></script>
<script src="/static/js/template.js"></script>
<script src="/static/js/jquery.maskedinput.min.js"></script>
<script>$.material.init();</script>
<script src="https://fezvrasta.github.io/snackbarjs/dist/snackbar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"></script>
</body>
</html>