<html>
<head>
    <title>Kirino - wifi_sl_gen application</title>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/ripples.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-material-design.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/template.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div id="blurr">
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Kirino</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/admin/memorandums/">Memorandums</a></li>
                    <li><a href="/admin/users/">Users</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/admin/logout/">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div style="width: 80%; margin: 0 auto">
        <div class="btn-group btn-group-justified">
            <a href="/admin/checkMemorandum/accept/{{ .MemorandumId }}" class="btn btn-success">Accept all users in memorandum</a>
            <a href="/admin/checkMemorandum/reject/{{ .MemorandumId }}" class="btn btn-danger">Reject all users in memorandum</a>
        </div>
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Mac</th>
                <th>User mane</th>
                <th>Phone number</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{ range .Clients}}
            <tr {{if (eq .Accepted 1)}}class="success" {{end}} {{if (eq .Accepted 2)}}class="danger" {{end}}>
                <td style="padding: 15px;">{{ .MacAddress }}</td>
                <td style="padding: 15px;">{{ .UserName }}</td>
                <td style="padding: 15px;">{{ .PhoneNumber }}</td>
                <td><a href="/admin/checkMemorandum/accept/{{ .MemorandumId }}" style="margin: 0;"
                       class="btn btn-success {{if (eq .Accepted 1)}}disabled {{end}}">{{if (eq .Accepted 1)}}Accepted
                    {{else}}Accept{{end}}</a></td>
                <td><a href="/admin/checkMemorandum/reject/{{ .MemorandumId }}" style="margin: 0;"
                       class="btn btn-danger  {{if (eq .Accepted 2)}}disabled {{end}}">{{if (eq .Accepted 2)}}Rejected
                    {{else}}Reject{{end}}</a></td>
                <td><a href="/admin/checkMemorandum/" style="margin: 0;" class="btn btn-primary">Edit</a></td>
                {{if (eq .Disabled 0)}}
                <td><a href="/admin/users/disable/{{ .MacAddress }}" style="margin: 0;" class="btn btn-danger">Disable</a></td>
                {{else}}
                <td><a href="/admin/users/enable/{{ .MacAddress }}" style="margin: 0;" class="btn btn-success">Enable</a></td>
                {{end}}
            </tr>
            {{ end }}
            </tbody>
        </table>
    </div>

</div>
<div id="black-block"></div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/ripples.min.js"></script>
<script src="/static/js/material.min.js"></script>
<script src="/static/js/template.js"></script>
<script src="/static/js/jquery.maskedinput.min.js"></script>
<script>$.material.init();</script>
<script src="https://fezvrasta.github.io/snackbarjs/dist/snackbar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"></script>
</body>
</html>