<html>
<head>
    <title>Kirino - wifi_sl_gen application</title>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/ripples.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-material-design.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/template.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div id="blurr">
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Kirino</a>
            </div>
        </div>
    </div>

    <div style="text-align:center;font-size:20px;width:80%;margin: 0 auto;">
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          Ваша служебная записка готова. Вам нужно распечать её, подписать у руководителя Вашего подразделения и отнести в 108 кабинет 9 корпуса СГУ или в 225б кабинет 12 корпуса СГУ.
        </div>
        <embed src="/userFiles/{{ .PdfUrl }}.pdf" width="80%" height="100%" type='application/pdf'><br><br>
    </div>


</div>
<div class="conteiner_for_windows">
    <div id="window" class="window">
        <div class="closee"></div>
        <div class="bs-component">
            <ul class="menu_help nav nav-pills">
                <li id="win7"><a href="#">Windows XP и 7</a></li>
                <li id="win8"><a href="#">Windows 8</a></li>
                <li id="mac"><a href="#">Mac OS</a></li>
                <li id="android"><a href="#">ОС Android</a></li>
                <li id="ios"><a href="#">iOS</a></li>
            </ul>
        </div>
        <div class="info">
            <ul class="info_sl">
                <li id="info_win7">
                    Для запуска командной строки зайти в меню «Пуск» → «Все программы» → «Стандартные» и выбрать
                    «Командная строка». Можно так же нажать сочетание клавиш Win+R, и в появившемся окне набрать «cmd»
                    (без кавычек) и нажать клавишу «Enter».
                    <img src="/static/win1.jpg">
                    Откроется окно командной строки:
                    <img src="/static/win2.jpg">
                    В этом окне нужно ввести команду, которая отобразит информацию о всех сетевых устройствах:
                    <b>ipconfig /all</b>
                    и нажать клавишу «Enter».
                    <img src="/static/win3.jpg">
                    В полученном списке всех сетевых адаптеров найти «Адаптер беспроводной локальной сети» (WI-FI
                    подключение), пункт «Физический адрес»:
                    <img src="/static/win4.jpg">
                </li>
                <li id="info_win8">
                    В Windows 8 для вызова командной строки нажать сочетание клавиш Win+R (для тачскринов длинное
                    нажатие на значок «Пуск» на рабочем столе и в контекстном меню пунк «Выполнить») и в появившемся
                    окне набрать «cmd» (без кавычек) и нажать клавишу «Enter» (для тачскринов кнопка экранной клавиатуры
                    справа на панели самая левая). Дальнейшие действия аналогичны описанным для Windows 7/XP.
                </li>
                <li id="info_mac">
                    Открыть «Системные настройки» → «Сеть» → «Wi-Fi» → вкладка «Аппаратура» → «Mac-Адрес».
                    <img src="/static/mac1.jpg">
                </li>
                <li id="info_android">
                    В связи с большим разнообразием Android-устройств, привести точную инструкцию представляется
                    проблематичным.
                    Аппаратный адрес обычно представлен в разделе «Настройки» → «О телефоне» → «Техническая информация»
                    / «Общая информация».
                </li>
                <li id="info_ios">
                    Перейти «Настройки» → «Основные» → «О телефоне» → «Адрес Wi-Fi».
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="black-block"></div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/ripples.min.js"></script>
<script src="/static/js/material.min.js"></script>
<script src="/static/js/template.js"></script>
<script src="/static/js/jquery.maskedinput.min.js"></script>
<script>$.material.init();</script>
<script src="https://fezvrasta.github.io/snackbarjs/dist/snackbar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"></script>
</body>
</html>